html,
body {
  margin: 0 au;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
  border: solid;
}

#izquierda {
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;
  float: left;
  border-radius: 10px;
}

#derecha {
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;
  float: right;
  border-radius: 10px;
}

#pelota {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

#limite,
#puntuacionIzquierda,
#puntuacionDerecha {
  font-size: 500%;
  color: white;
  z-index: 10;
}

#puntuacionDerecha {
  position: relative;
  top: 0;
  float: right;
  font-size: 30px !important;
}
#puntuacionIzquierda {
  position: relative;
  top: 0;
  float: left;
  font-size: 30px !important;
}

#goal {
  font-size: 1000%;
  transition: 1.5s all;
  display: inline-block;
}
