html,
body {
  margin: 0 au;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
  border: solid;
}

#izquierda {
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;
  float: left;
  border-radius: 10px;
}

#derecha {
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;
  float: right;
  border-radius: 10px;
}

#pelota {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

#limite,
#puntuacionIzquierda,
#puntuacionDerecha {
  z-index: 10;
}

#puntuacionIzquierda,
#puntuacionDerecha {
  text-align: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 8px;
  border-radius: 50%;
}

#limite{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

#puntuacionDerecha {
  background-color: blue;
  color: #fff;
  padding: 8px;
  float: right;
}
#puntuacionIzquierda {
  background-color: purple;
  color: #fff;
  padding: 8px;
  float: left;
}

#goal {
  font-size: 1000%;
  transition: 1.5s all;
  display: inline-block;
}
